.container{
  background-image: url("./467029312_122120199734552375_3502263877494361120_n.jpg");
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

.card {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;
  color: #fff;
}